@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@import "../../reset.css";
@import "./variable";
@import "./mixin";
@import "./base";


header{
    background-color: $red;
   
    .logo{
        max-width: 80px;
    }
    nav{
        margin-left: auto;
        ul{
            gap:64px;
        }

        a{
            padding: 25px 0;
        }
    }
}
section{
    &.banner{
        background-image: url(../images/home-header.png);
        .container{
            overflow: hidden;
            padding: 0 -12px ;
        }

        .text-right {
            margin: 296px 0 296px auto;
        }
    }
    &:not(.banner){
        padding: 80px 0;
    }
    &:nth-of-type(2){
        
        .cards{
            margin: 36px -12px;
            @include Large {
                flex-wrap: wrap;
            }
            
            .card{
                padding: 0 12px;
                width: 25%;
                @include Large {
                    width: 50%;
                    margin-bottom: 24px;
                }
                h3{
                    margin: 27px auto 8px;
                }
                img{
                    max-width: 83px;
                    
                }
            }
        }
        
    }
    &:nth-of-type(3){
      
        .cards{
            margin: 36px -12px;
            @include Large {
                flex-wrap: wrap;
            }
            .card{
                padding: 0 12px;
                width: 33.33%;
                @include Large {
                    width: 100%;
                    margin-bottom: 24px;
                }
                h3{
                    margin: 8px auto 0;
                }
                img{
                    max-width: 416px;
                    @include Large {
                        max-width: 336px;
                    }
                    
                }
            }
        }
        
    }
    &:nth-of-type(4){
        background-image: url(../images/index-bg.png);
     
        .cards{
            margin: 36px auto;
            @include Large {
                flex-wrap: wrap;
            }
            .card{
                width: 50%;
                @include Large {
                    width: 100%;
                    margin-bottom: 24px;
                }
                img{
                    max-width: 648px;
                    @include Large {
                        max-width: 696px;
                    }
                }
            }
        }
    }
    &:nth-of-type(5){

        .cards{
            margin: 36px -12px;
            @include Large {
                flex-wrap: wrap;
            }
            .card{
                padding: 0 12px;
                width: 25%;
                @include Large {
                    width: 50%;
                    margin-bottom: 24px;
                }
                .d-flex{
                    border: 1px solid #DEE2E6;
                }
                .custumer-intro{
                    padding: 16px;
                }
                .date{
                    margin-top: 72px;
                }
                img{
                    max-width: 306px;
                    @include Large {
                        max-width: 336px;
                    }
                }
            }
        }
    }
    &.form-section{
       .form-container{
        max-width: 636px;
        margin: 0 auto;
        >p{
            margin: 48px auto 24px;
        }
        label{
            display: block;
        }
        textarea{
            max-width: 636px;
        }
        input[type=button]{
            max-width: 416px;
        }
       }
    }
}
.footer{
    padding: 48px 0 32px;
    
    .row{
        margin: 0 -16px 45px -24px;

    }
    .contact-info{
        // padding-bottom: 45px;
        // border-bottom: 1px solid #fff;
        padding-left: 24px;
        padding-right: 16px;
        &::after{
            content: "";
            width: 100%;
            height: 1px;
            background-color: #fff;
            display: block;
            margin: 32px 0;
        }
    }
    .policy{
        margin:0 -32px 0 auto;
       p{
        
       }
       a{
        padding: 0 24px;
       }
    }

    .social-media-area{
        margin-left: auto;
        .social-media{
            img{

                max-width: 48px;
                @include Large {
                    max-width: 40px;
                }
            }

        }
    }
}